<mat-toolbar>

  <mat-toolbar-row>
    <span translate>Approver</span>


    <span class="example-spacer1"></span>
  <i class="material-icons" (click)="switchLanguage()">
        language
      </i>

    <span class="example-spacer"></span>
    <img src="../assets/images/IDMS.png" alt="IDMS">
  </mat-toolbar-row>
</mat-toolbar>
<mat-list role="list">
  <mat-list-item role="listitem">
    <p translate>Title</p>

    <span class="example-spacer"></span>
    <button translate mat-button (click)="openDialog()">
      <span translate>Button</span>
    </button>

  </mat-list-item>

</mat-list>
<ag-grid-angular #agGrid style="width: 85%; height: 500px;" class="ag-theme-material" [rowData]="rowData"
  [columnDefs]="columnDefs" rowSelection="multiple"  (gridReady)="onGridReady($event)">
</ag-grid-angular>

