.example-icon {
  padding: 0 40%;
}

.example-spacer {
  flex: 1 1 auto;
}
.example-spacer1 {
  flex: 18 10% ;
}
img {
  height: 56px;
  width: 143px;
  position: relative;
  top: 7px;
}
mat-toolbar {
  background-color: #0076c6;
  color: white;
}
button {
  background-color: #f0eef7;
}
mat-card {
  top: 24px;
}
ag-grid-angular {
  margin-left: 49px;
  margin-top: 41px;
}

.mat-dialog-container{
  width: 80% !important;
}
.language{
  background-color: #0076c6;
}
i{
  cursor: pointer;
}