<div>
  <label translate>Dialog-box-approve</label>
  <br><br>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" class="cancel">
      <span translate>Cancel</span>
    </button>
    <button mat-button (click)="onNoClick()" class="approveColor">
      <span translate>Approve</span>
    </button>
  </div>
</div>